* {
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
    font-size: 24px;

}
@media (max-width: 768px) {
    * {
        font-size: 15px;
    }
}

body {
    margin: 0;
}

nav {
    background-color: #2E9FB1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width: 54px;
}

nav a {
    text-decoration: none;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 48px;
    color: #F8F2F2;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#initial_main {
    width: 80vh;
    height: 80vh;
    background-color: #D2D5D7;
    border-radius: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 768px) {
    #initial_main {
        margin-top: 25px;
        width: 65vh;
        height: 65vh;
    }
}

#initial_main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.intro_p {
    margin-top: 0;
    width: 73%;
}


.my_button {
    padding: 5px;
    border: 2px #2E9FB1 solid;
    text-decoration: none;
    color: #2E9FB1;
}

#game {
    background-color: #D2D5D7;
    width: 100vw;
    height: calc(100vh - 79px);
}
@media (max-width: 768px) {
    #game {
        height: 100%;
    }
}

h4 {
    text-align: center;
}

#all_badges {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.badges_container {
    display: flex;
    flex-direction: column;
    width: 15%;
    text-align: center;
}
@media (max-width: 768px) {
    .badges_container {
        width: auto;
    }
}

.badges_container p {
    font-size: 16px;
    width: 90px;
    color: #cf4123;
}

.badge {
    width: 90px;
}
.badge:focus,
.badge:hover {
    cursor: pointer;
}

#all_spoons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

.spoon {
    width: 90px;
}

#score {
    position: absolute;
    right: 60px;
    top: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBD303;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
@media (max-width: 768px) {
    #score {
        position: initial;
        margin: 25px auto;
    }
}

.score_subtitle {
    margin: 0;
    font-size: 15px;
    border-bottom: #2E9FB1 2px solid;
}

#score_p {
    margin: 0;
    font-size: 50px;
    color: #cf4123;
}

#end_main {
    width: 100vw;
    background-color: #D2D5D7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end_main div {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
