*,
body {
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
}
@media (max-width: 768px) {
    * {
        font-size: 15px;
    }
}

body {
    margin: 0;
    background-color: #D2D5D7;
}

nav {
    background-color: #2E9FB1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width: 54px;
}

nav a {
    text-decoration: none;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 48px;
    color: #F8F2F2;
    margin: 0;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#initial_main {
    width: 80vh;
    height: 80vh;
    background-color: #2e9fb1;
    border-radius: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 768px) {
    #initial_main {
        margin-top: 25px;
        width: 90vw;
        height: 90vw;
    }
}

#initial_main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.intro_text {
    width: 73%;
}

.my_button {
    padding: 5px;
    border: 2px #D2D5D7 solid;
    text-decoration: none;
    color: #D2D5D7;
}

#game {
    background-color: #D2D5D7;
    height: calc(100% - 79px);
}

h4 {
    text-align: center;
    padding: 0 10px;
}

#all_badges {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
@media(max-width: 988px) {
    #all_badges {
        justify-content: center;
    }
}

.badges_container {
    display: flex;
    flex-direction: column;
    width: 15%;
    text-align: center;
}
@media(max-width: 768px) {
    .badges_container {
        width: auto;
    }
}

.badges_container p {
    font-size: 16px;
    width: 90px;
    color: #cf4123;
}

.badge {
    width: 90px;
}
.badge:focus,
.badge:hover {
    cursor: pointer;
}

#all_spoons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 93px;
}
@media(max-width: 988px){
    #all_spoons {
        height: auto;
    }
}

.spoon {
    height: 90px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 40px;
    top: 260px;
}
@media (max-width: 988px) {
    #sidebar {
        position: initial;
        margin: 25px auto;
    }
}

#score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBD303;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-bottom: 15px;
}

.score_subtitle {
    margin: 0;
    font-size: 15px;
    border-bottom: #2E9FB1 2px solid;
}

#score_text {
    margin: 0;
    font-size: 50px;
    color: #cf4123;
}

#try_win {
    padding: 5px;
    border: 2px #cf4123 solid;
    text-decoration: none;
    color: rgb(210, 213, 215);
    background-color: #cf4123;
}
#try_win:focus,
#try_win:hover {
    cursor: pointer;
}
@media (max-width: 1024px) {
    #try_win {
        right: 20px;
    }
}
@media (max-width: 768px) {
    #try_win {
        position: initial;
        margin: 10px auto;
    }
}

#div_button {
    display: flex;
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal_content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.2s;
    animation-name: animatetop;
    animation-duration: 0.2s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

h2 {
    text-align: center;
    margin: 0 0 10px 0;
}

.modal_header {
    padding: 40px 10px;
    background-color: #2E9FB1;
    color: white;
}
@media (max-width: 488px) {
    .modal_header {
        padding: 25px 15px;
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 488px) {
    .buttons {
        flex-direction: column;
    }
}

.modal_button {
    float: left;
    padding: 5px;
    border: 2px #ffffff solid;
    background-color: #2E9FB1;
    color: #ffffff;
}
.modal_button:focus,
.modal_button:hover {
    cursor: pointer;
}
@media(max-width: 488px) {
    .modal_button {
        margin-top: 25px;
    }
}

#end_main {
    margin-top: 20px;
    background-color: #D2D5D7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end_main div {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end_main p {
    margin: 10px 0;
}

#end_numbers {
    margin: 0 40px;
    text-align: center;
}

#end_numbers span {
    color: #2E9FB1;
    font-weight: bold;
    font-size: 45px;
}
@media(max-width: 768px) {
    #end_numbers span {
        font-size: 25px;
    }
}

h5 {
    color: #2E9FB1;
    font-size: 40px;
    text-align: center;
    margin: 0 0 15px 0;
}
@media(max-width: 768px) {
    h5 {
        font-size: 28px;
    }
}

footer {
    background: #2e9fb1;
    padding: 2px 0;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: 13px;
    font-family: sans-serif;
    color: #151515;
}

@media(max-width: 768px) {
    footer p {
        margin: 13px 10px;
    }
}

.is-hiddenModal {
    display: none;
}

.is-shownModal {
    display: block;
}